<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h4>About Us</h4>
            <h1>EchoStream is,</h1>
            <h2>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              totam neque aut quibusdam, perspiciatis nisi.
            </h2>
            <div class="hero-ul">
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p class="description">
                    Rapid Development and Deployment PaaS
                  </p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p class="description">
                    Low-code Integration and Workflow PaaS
                  </p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p class="description">
                    Real-Time update engine enabling near-real-time adaptation
                    to changing business demands
                  </p>
                </li>
              </ul>
            </div>
            <div class="d-flex">
              <a href="/get-a-demo" class="btn-get-started scrollto"
                >Get a demo</a
              >
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="/assets/img/about-us-hero.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Features Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
              <img
                src="/assets/img/about-us-the-challenge.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h4>The Challenge</h4>
              <h3>Lorem ipsum dolor sit ametconse ctetur adipisicing elit.</h3>
              <p>
                Business applications are primarily data collectors, processors
                and providers. As such, no business application is an island;
                each must collect the data they require from various sources and
                provide it to the same in order to function within the overall
                business ecosystem.
              </p>
              <p>
                The sources of interaction with each business application are
                generally not well known at the time of the application’s
                creation, and often change during the lifetime of that
                application in the business. Compounding this is the fact that
                many of those sources are remote and not within the control of
                the business itself
              </p>
              <p>
                Additionally, the business and technology world is constantly
                evolving and demands on these system are growing to accommodate
                near-real-time adaptation within this new world – AI, Machine
                learning, in-flight analytics and decision making, IOT, etc.
              </p>
              <p>
                <b
                  >How does the business manage the rapidly evolving landscape
                  of applications in its ecosystem and ensure that the whole
                  becomes and remains more than the sum of its parts?</b
                >
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Featurest Section -->

      <!-- ======= Tenants Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 order-2">
              <img
                src="/assets/img/about-us-echo.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h4>EchoStream</h4>
              <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
              <ul>
                <li>
                  <img
                    src="/assets/img/icon-bullet.png"
                    alt=""
                    class="img-fluid"
                  />
                  <p>Turing-complete, Cloud Native, Serverless iPaaS</p>
                </li>
                <li>
                  <img
                    src="/assets/img/icon-bullet.png"
                    alt=""
                    class="img-fluid"
                  />
                  <p>More manageable than P2P solutions</p>
                </li>
                <li class="margin-left">
                  <img
                    src="/assets/img/icon-bullet.png"
                    alt=""
                    class="img-fluid"
                  />
                  <p>Centralized, single pane administration</p>
                </li>
                <li>
                  <img
                    src="/assets/img/icon-bullet.png"
                    alt=""
                    class="img-fluid"
                  />
                  <p>
                    More powerful and scalable than existing centralized
                    solutions
                  </p>
                </li>
                <li class="margin-left">
                  <img
                    src="/assets/img/icon-bullet.png"
                    alt=""
                    class="img-fluid"
                  />
                  <p>
                    Capable of hosting full applications, no specialized
                    knowledge required
                  </p>
                </li>
                <li class="margin-left">
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Near-infinite scalability</p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Faster to implement and change than either</p>
                </li>
                <li class="margin-left">
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    Implementation in hours, changes applied in near real-time
                  </p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Less expensive than either</p>
                </li>
                <li class="margin-left">
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Pay for only what you use, when you use it</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Tenants Section -->

      <!-- ======= Serverless Nodes Section ======= -->
      <section id="about" class="about">
        <div class="container border-bottom">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
              <img
                src="/assets/img/about-us-serverless-node.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h4>Serverless Nodes</h4>
              <h5>Processor</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    Process messages using customer-defined Python functions
                  </p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Support any type of processing required</p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Fan-in/fan-out</p>
                </li>
              </ul>

              <h5>Bitmap Router</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Route messages using customer-defined Python functions</p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    Use bitmap routing, where the message is mapped to truthy
                    values once
                  </p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Fan-in/fan-out</p>
                </li>
              </ul>

              <h5>Timer</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Emit timing messages on a cron schedule</p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Fan-out</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Featurest Section -->

      <!-- ======= Features Section ======= -->
      <section id="about" class="about">
        <div class="container border-bottom">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
              <img
                src="/assets/img/about-us-app.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h4>App</h4>
              <h5>Managed</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    Cloud-hybrid, on-premises Virtual Machines managed by
                    EchoStream
                  </p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    Enables simple last-mile for localized and insecure protocol
                    processing
                  </p>
                </li>
              </ul>

              <h5>External</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    Extend the EchoStream Tenant Cloud into any compute
                    environment
                  </p>
                </li>
              </ul>

              <h5>Cross Account</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    Extend the EchoStream Tenant Cloud into customer AWS
                    Accounts
                  </p>
                </li>
              </ul>

              <h5>Cross Tenant</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    Connect two EchoStream Tenants without leaving the
                    EchoStream Cloud
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Featurest Section -->

      <!-- ======= Features Section ======= -->
      <section id="about" class="about">
        <div class="container border-bottom">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
              <img
                src="/assets/img/about-us-app-nodes.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h4>App Nodes</h4>
              <h5>Managed</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Contained in Managed Apps</p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Implemented through customer-supplied Docker images</p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    EchoStream provides a Python package for Node implementation
                  </p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Fan-in/fan-out</p>
                </li>
              </ul>

              <h5>External</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Contained in External/Cross Account Apps</p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Fully customer implemented</p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    EchoStream provides a Python package for Node implementation
                  </p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Fan-in/fan-out</p>
                </li>
              </ul>

              <h5>Cross Tenant</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Contained in Cross Tenant Apps</p>
                </li>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Fan-in/fan-out</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Featurest Section -->

      <!-- ======= Features Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
              <img
                src="/assets/img/about-us-management-nodes.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h4>Management Nodes</h4>
              <h5>Change Emitter</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Contained in Managed Apps</p>
                </li>
              </ul>

              <h5>App Change Router</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Routes all changes for Apps to the Apps</p>
                </li>
              </ul>

              <h5>Log Emitter</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Emits all customer logs collected by the Tenant</p>
                </li>
              </ul>

              <h5>Audit Emitter</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Emits all message audits collected by the Tenant</p>
                </li>
              </ul>

              <h5>Alert Emitter</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>Emits all alerts that occur during Tenant operations</p>
                </li>
              </ul>

              <h5>Dead Letter Emitter</h5>
              <ul>
                <li>
                  <img src="/assets/img/icon-bullet.png" alt="" />
                  <p>
                    Emits all dead letters (undeliverable messages) in the
                    Tenant
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Featurest Section -->

      <!-- ======= Cta Section ======= -->
      <section class="cta">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="text-center">
                <h3>Call To Action</h3>
                <p>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </p>
                <a class="cta-btn" href="#">Get a Demo</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cta Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->
    {{ partial "script.html" . }}
  </body>
</html>
