<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="/" class="logo"
      ><img src="/assets/img/logo.png" alt="" class="img-fluid"
    /></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto" href="/about-us">About us</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="/contact-us">Contact us </a>
        </li>
        <li>
          <a class="getstarted scrollto" href="/contact-us">Get Started</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
